APP_PORT=
APP_HOST=0.0.0.0

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_PASSWD=

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_NAME=
POSTGRES_USER=
POSTGRES_PASSWD=

# REDIS
REDIS_ADDR=
REDIS_PASSWORD=
REDIS_USER=

# Open AI
OPEN_AI_KEY=
OPEN_AI_CHAT_URL=
OPEN_AI_IMAGE_URL=

# Kafka
KAFKA_BROKER=
KAFKA_TOPIC=
KAFKA_GROUP=
KAFKA_CONSUMER=

# Lilys
LILYS_API=
LILYS_URL=

# AES
AES_KEY=
AES_IV=

JWT_KEY=
