APP_PORT=
APP_HOST=

AES_KEY=
AES_IV=
JWT_KEY=

UPLOAD_DIR=
OUTPUT_DIR=

KAFKA_BROKER=
KAFKA_INPUT_TOPIC=
KAFKA_OUTPUT_TOPIC=
KAFKA_GROUP=
KAFKA_CONSUMER=

REDIS_ADDR=
REDIS_PASSWORD=
REDIS_USER=

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_NAME=
POSTGRES_USER=
POSTGRES_PASSWD=
